<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Netcap</h1>
      <p class="lead">This is a tool quickly hacked together for viewing network traffic during iCTF 2020! Bugs are guaranteed.</p>
      <hr class="my-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1">
            <div>
              <input class="filter" type="text" placeholder="Filter...">
            </div>
            <div class="sidebar">
              <div class="list-group">
                {% for conversation in conversations %}
                {% set time = conversation['time'] %}
                {% set port1 = conversation['port1'] %}
                {% set port2 = conversation['port2'] %}
                <button type="button" class="conversation-id list-group-item list-group-item-action">{{time}} {{port1}} {{port2}}</button>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="view">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
